{% extends 'base_principal.html'%} {% block content %}
<div class="general-information">
  <h1>General information</h1>
  <table>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Unit price</th>
      <th>Quantity available</th>
    </tr>
    {% for product, quantity in sold_quantity_per_product.items %}
    <tr>
      <td>{{ product.product_id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ quantity }}</td>
    </tr>
    {% endfor %}
  </table>
  <h2>
    Total value inventory:
    <span>${{total_value_per_product}}</span>
  </h2>
</div>
{% endblock content%}
