{% extends 'base_principal.html' %} {% block content %}
<div class="container">
  <h1 class="heading">Sales History</h1>

  <div class="search-container">
    <form action="" method="GET">
      <label for="searchDate">Search By Date:</label>
      <input
        type="date"
        name="searchDate"
        value="{{ last_date|date:'Y-m-d' }}"
      />
      <button type="submit" class="search-btn">Search</button>
    </form>
  </div>

  <div class="sales-table-container">
    <table class="sales-table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        {% for sale in sales %}
        <tr>
          <td>{{ sale.product_id.name }}</td>
          <td>{{ sale.quantity }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% for date, total_sales in total_sales_by_date.items %}
  <div class="sales-summary">
    <h2>Total Quantity: <span>{{ total_sold_in_day }}</span></h2>
    <h2>Total Revenue: <span>$ {{ total_sales }}</span></h2>
  </div>
  {% endfor %}
</div>
{% endblock content %}
