<!-- templates/stock/ventas_por_fecha.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fresita</title>
  </head>
  <body>
    <h1>Ventas para la fecha {{ date }}</h1>
    <ul>
      {% for sale in sales %}
      <li>{{ sale.product_id.name }}: <span>{{ sale.quantity }}</span></li>
      {% endfor %}
    </ul>
    <h2>Cantidad total: <span>{{total_sold_in_day}}</span></h2>
    {% for date, total_sales in total_sales_by_date.items %}
    <h2>Venta total: <span>{{ total_sales }}</span></h2>

    {% endfor %}
  </body>
</html>
